<!-- src/app/login/login.component.html -->
<!-- <div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email"  name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password"  name="password" required>
    </div>
    <div>
      <button type="submit" class="bg-red-700 w-24 h-24">Login</button>
    </div>
  </form>
  <p>{{ message }}</p>
  <div>
    <button>Register</button>
  </div>
</div> -->




<form (ngSubmit)="onLogin()" class="max-w-sm mx-auto" #loginForm="ngForm">
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
    <input 
      type="email" 
      id="email" 
      [(ngModel)]="email" 
      name="email"
      #emailField="ngModel"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      placeholder="name@flowbite.com" 
      required 
    />
    <div *ngIf="emailField.invalid && emailField.touched" class="text-red-500 text-sm">
      Email is required and must be valid.
    </div>
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
    <input 
      type="password" 
      id="password" 
      [(ngModel)]="password" 
      name="password"
      #passwordField="ngModel"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      required 
    />
    <div *ngIf="passwordField.invalid && passwordField.touched" class="text-red-500 text-sm">
      Password is required.
    </div>
  </div>

  <button 
    type="submit" 
    [disabled]="loginForm.invalid"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
  <button 
    type="button" 
    (click)="goToRegistration()" 
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Register
  </button>
</form>
<p>{{ message }}</p>
